<div id="wrapper">
	<div id="row">
	 <div class="col-md-12 center-block" > 
	   <%= render "partials/navigation" %>
	   
	  	<div class="row">
	     <h3>Consultas sobre las Propuestas de Gasto</h3>
				
				<div class="col-md-4">

						<div class="panel panel-primary">

				               <div class="panel-heading"> 

				               			<h3 class="panel-title" style="text-align: center;"> Consultar por Nº de propuesta</h3> 
				               			
				               	</div>

				                <div class="panel-body">

		                        	<%= form_tag "/propuestas/queries", method: :get, id: "form-buscar" do %>

		                        		<div class="row">
		                          
					                          <div class="form-group col-md-2">
					                            <%= text_field_tag :palabra, params[:palabra], placeholder: "Número de propuesta" %><br>
					                            <%= submit_tag "Buscar"%> 
					                           
					                          </div>

										</div>

									<%end%>	

				                </div>
		                </div>  
		        </div>        

				<div class="col-md-8">

						<div class="panel panel-primary">

				               <div class="panel-heading"> 

				               			<h3 class="panel-title" style="text-align: center;"> Consultar por proveedor y concejalía:</h3> 
				               			
				               	</div>

				                <div class="panel-body">

		                        
		                        	<%= form_tag "/propuestas/queries", method: :get, id: "form-buscar-prov" do %>

		                        		<div class="row">
		                          			<div class="form-group col-md-2">
					                            <%= label_tag "Ejercicio" %><br>
					                            <%= select_tag "ejercicio", options_from_collection_for_select(Ecyear.where(["activo = 1"]),"ejercicio", "ejercicio") %>
					                            
					                         </div>	

					                         <div class="form-group col-md-2">
					                            <%= label_tag "Proveedor" %>
					                            <%= select_tag "proveedor", options_from_collection_for_select(Provider.order(:razon_social),"id", "razon_social"), include_blank: true %><br>
					                         </div>
					                    </div>
					                    <div class="row">

					                          <div class="form-group col-md-2">
					                            <%= label_tag "Concejalía" %>
					                            <% if current_user.rol =="ADMINISTRADOR" %>
					                            	<%= select_tag "concejalia", options_from_collection_for_select(Council.order("nombre"),"id", "nombre"), include_blank: true %><br>
					                            <% else %>
					                            	<%= select_tag "concejalia", options_from_collection_for_select(Council.joins(:joins).where("joins.user_id = ?", current_user.id),"id", "nombre"), include_blank: true %><br>
					                            <% end %>



					                           <%= submit_tag "Buscar"%> 
					                          </div>

										</div>

									<%end%>	


				                </div>
		                </div>  		                

				</div>	


                <div id="resultados">

                   <% if @propuestas %>

                		<table class="table table-striped table-bordered">
								<thead>
								<tr class="success">
									<th>Num_propuesta</th>
									<th>Año</th>
									<th>Tercero</th>
									<th>Departamento</th>
									<th>Importe</th>
									<th>Opciones</th>
								</tr>
								</thead>
								<tbody>
							          <% @propuestas.each do |propuesta| %> 
							           <tr>
							             <td><%= propuesta.numprop %></td>
							             <td><%= propuesta.year %></td>
							             <td><%= propuesta.tercero %></td>
							             <td><%= propuesta.departamento %></td>
							             <td><%= propuesta.importe %></td>
							             <td><%= link_to "Editar", :action => :edit, :id => propuesta.id %>
							             <span>|</span> 
							             <%= link_to "Eliminar", { :action => :destroy, :id => propuesta.id }, :method => :delete, :data => { :confirm => '¿Seguro que desea eliminar la propuesta?' } %>
							             <span>|</span>
							             <%= link_to "Imprimir", :action => :view_pdf, :id => propuesta.id, :format => "pdf" %>
							             </td>
							           </tr>
							          <% end %>
								</tbody>
							</table>
					

					<% end %>		
		            <% if @suma %>    
						 <span><strong>TOTAL GASTADO: <%= number_with_precision @suma.first.total, :precision => 2  %>  </strong></span>	  
					<% end %>	
	            </div>    

					
	<!--	</div>  -->
	 </div>
	</div>
</div>
